<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atshixin.edu.mapper.CommentMapper">
    <update id="updateCommentById">
        update edu_comment
            set content=#{content}
        where id=#{commentId}
    </update>

    <select id="getComments" resultType="com.atshixin.edu.vo.CommentVo">
        select
            id, course_id, teacher_id, member_id, nickname, avatar, content, is_deleted, gmt_create, gmt_modified, reply_id, reply_to, topic_id
        from
            edu_comment ${ew.customSqlSegment}
    </select>
</mapper>
