<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atshixin.edu.mapper.CrmBannerMapper">
    <select id="getBanners" resultType="com.atshixin.edu.entity.CrmBanner">
        SELECT * FROM crm_banner ${ew.customSqlSegment}
    </select>
</mapper>